#n_1_Overview {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: rgba(54,55,64,1);
    overflow: hidden;
    --web-view-name: 1.1. Overview;
    --web-view-id: n_1_Overview;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#bg {
    fill: rgba(247,248,252,1);
}
.bg {
    overflow: visible;
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#Body {
    position: absolute;
    width: 1122px;
    height: 134px;
    left: 285px;
    top: 128px;
    overflow: visible;
}

#navigateBtn{
    position: absolute;
    top: 0px;
    left:1000px;
}

#removeBtn{
    position: absolute;
    top: 0px;
    left:800px;
}
#waitListDisplayBtn{
    position: absolute;
    top: 50px;
    left:1000px;
}

#waitListBody{
  border:1px solid black;
  border-collapse: separate;
  border-spacing: 4px;

}
#homeMetric {
    position: absolute;
    width: 258px;
    height: 134px;
    left: 200px;
    top: 0px;
    overflow: visible;
}
#addGuest {
    position: absolute;
    width: 700px;
    height: 50px;
    /* border-style:solid; */
    left: 200px;
    top: 80px;
    overflow: visible;
}

/* #addGuestBtn {
    position: absolute;
    left: 600px;

} */

#waitListDisplay {
    position: absolute;
    width: 600px;
    height: 50px;

    left: 200px;
    top: 150px;
    overflow: visible;
}


#cards__hover {
    position: absolute;
    width: 258px;
    height: 134px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#stroke {
    fill: transparent;
    stroke: rgba(221,226,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.stroke {
    position: absolute;
    overflow: visible;
    width: 262px;
    height: 138px;
    left: 0px;
    top: 0px;
}
#sheet_fd {
    fill: rgba(255,255,255,1);
    stroke: rgba(55,81,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.sheet_fd {
    position: absolute;
    overflow: visible;
    width: 258px;
    height: 134px;
    left: 0px;
    top: 0px;
}

#waitListCount {
    left: 32px;
    top: 60px;
    position: absolute;
    overflow: hidden;
    width: 195px;
    height: 50px;
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(55,81,255,1);
    letter-spacing: 0.25px;
}

#metricLabel {
    left: 32px;
    top: 10px;
    position: absolute;
    overflow: hidden;
    width: 195px;
    height: 50px;
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(55,81,255,1);
    letter-spacing: 0.25px;
}


#header__default {
    position: absolute;
    width: 1122px;
    height: 44px;
    left: 285px;
    top: 0px;
    overflow: visible;
}
#pagetitle {
  left: 200px;
  top: 80px;
  position: absolute;
  overflow: hidden;
  width: 500px;
  height: 30px;
  text-align: left;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;

}

#clock{
    left: 1000px;
    top: 80px;
    position: absolute;
    width: 300px;
    font-size:20px;
}
#emptyTable {
  /* left: 200px;
  top: 80px;
  position: absolute;
  overflow: hidden;
  width: 500px;
  height: 30px; */
  text-align: left;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;

}
